<a href="/"><h1>All Tasks</h1></a>

<% @tasks.each do |task| %>
    <%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a>
    <a id="edit" href="/tasks/<%= task.id %>/edit">edit</a><br>
    <form action="/tasks/<%= task.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
        </form>
<% end %>